 {
		margin: 0px;
		padding: 0px;

	}
					

body {
			background-image: url(https://th.bing.com/th/id/OIP.JsruJOq5fZRf1e8QNJ7toQHaFH?rs=1&pid=ImgDetMain);
			background-repeat: no-repeat;
			background-size: cover;


}

.boto {
	background-color: #B9E5E8;
	text-align: center;
	padding: 8px;
	color: black;
}

.header {
	font-family: Akaya Kanadaka;
}

.footer {
	font-family: Akaya Kanadaka;
	bottom: 0;
	position: fixed;
	width: 100%;

}
.Head{
	font-family: Akaya Kanadaka;
}

.expe {
	text-align: left;
}

.container {
	background-color: rgb(19, 19, 70, 0.9) ;
	padding: 5px;
	border-radius: 10px;
	color: black;
	font-family: Noto Sans;
	color: #DFF2EB;


}



.regular {
	text-align: center;
	background-color: beige;
}

h2 {
	
}

.Head {
	text-align: center;
}

.cen {
	text-align: center;
}